td.details-control
{
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control
{
    background: url('../img/details_close.png') no-repeat center center;
}

div.slider
{
    display: none;
	overflow-y: auto;
}
 
table.dataTable tbody td.no-padding
{
    padding: 0;
}

.table-details-left
{
	float: right;
    width: 50%;
	border-left: 1px solid #ddd;
}

.table-details-right
{
	float: left;
	border-right: 1px solid #ddd;
}